<div class="container">
	<h1>Split into shares area</h1>
		<p>Here you will be able to split your private key or your public address into different shares<br/><br>
		   Enter the passphrase in the following forms and split the key. All you need to know is:<br/>
		</p>

		<div class="p1">
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#	Shares: are the number of shares you're going to split the key into<br/>
		  	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#	Theshold: are the number of shares you will need to combine to recover the original keyword<br/>
		</div>

			<br><br>

		<div class="form-group">
			<label for="1234"># Shares</label>
			<input type="number" class="form-control" [(ngModel)]="this.shares">

		<br>
		
		<div class="form-group">
			<label for="1234"># Theshold</label>
			<input type="number" class="form-control" [(ngModel)]="this.theshold">
		</div>
		
		<br>

		<div class="form-group">
			<label for="1234"># Data to split</label>
			<input type="text" class="form-control" [(ngModel)]="this.data">
		</div>
		
		<br><br>
		
		<div class="form-group">
   			<label for="exampleFormControlTextarea1">Your shares are: </label>
   			<textarea class="form-control" id="exampleFormControlTextarea1" rows="{{this.shares-3}}">{{this.showShares}}</textarea><br>
 		</div>

 		<br>

 		<button (click)="createShares()" class="btn btn-primary">Get Shares</button>

		</div>

		<br><br><br><br>

	<h2>Combine into shares area</h2>
	<p>Here you will able to combine your pre-shared secrets, you will need to put the number of secrets according to the theshold</p>



</div>