<div class="card">
    <div class="card-body">
      <h5 class="card-title">Block <small class="text-muted" *ngIf="block.previousHash == 0">(Genesis block)</small></h5>
    </div>

    <ul class="list-group list-group-flush">
	    <li class="list-group-item">
	    	<span class="">Hash of current block</span>
	    	<br>
	    	<div class="text-truncate" [style.color]="'green' + block.hash.substring(0,6)">
	    		<small>{{ block.hash }}</small>
	    	</div>

			<br>
			<span class="">Hash of previous block</span>
	    	<br>

	    	<div class="text-truncate" [style.color]="'magenta' + block.previousHash.substring(0,6)">
	    		<small>{{ block.previousHash }}</small>
	    	</div>
	    </li>

	    <li class="list-group-item">
	    	<span class="">Sero / Nonce</span><br>
	    	<div class="text-truncate text-muted">
	    		<small>{{ block.sero }}</small>
	    	</div>
	    </li>

	    <li class="list-group-item">
	    	<span class="">Timestamp</span><br>
	    	<div class="text-truncate text-muted">
	    		<small>{{ block.timestamp }}</small>
	    	</div>
	    </li>
	</ul>

  </div>