<nav class="navbar navbar-dark bg-dark">
  	<a class="navbar-brand" routerLink="/">
    	ZherexCoin
  	</a>

	<div>
		<button class="btn btn-outline-light" routerLink="/settings">Settings</button>
		&nbsp;
		<button class="btn btn-outline-light" routerLink="/createTransaction">Create Transaction</button>
		&nbsp;
		<button class="btn btn-outline-light" routerLink="/miningBlock">Pending Transactions</button>
		&nbsp;
		<button class="btn btn-outline-light" routerLink="/wallet">Wallet</button>
	</div>
</nav>

<router-outlet></router-outlet>
